
<div>
  <h1>Admin</h1>
  <form [formGroup]="userForm">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input [formControl]="userForm.controls.firstName" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [formControl]="userForm.controls.lastName" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Userame</mat-label>
      <input [formControl]="userForm.controls.userName" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [formControl]="userForm.controls.password" matInput>
    </mat-form-field>

  </form>
  <button mat-button (click)="createUser()" [disabled]="userForm.invalid">Add</button>
  <button mat-button (click)="getAllUsers()">Get</button>
</div>
