<div>
  <h1>Log in</h1>
  <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input [formControl]="loginForm.controls.userName" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [formControl]="loginForm.controls.password" matInput>
      </mat-form-field>

      <button mat-flat-button (click)="logIn()" [disabled]="!loginForm.valid" routerLink="../store">Log in</button>
  </form>
</div>
