div {
  display: grid;
  justify-content: center;
}

h1 {
  margin-block: 2rem;
}

form {
  width: 20rem;
}

mat-form-field {
  width: 100%;
}

.error {
  border-radius: 0.3rem;
  background-color: red;
  margin-top: 1rem;
  span {
    font-weight: bold;
    color: white;
    margin-block: 1rem;
  }
}
